USE [Player_Count_Trend]
GO
/****** Object:  Table [dbo].[Game_Details_Dim]    Script Date: 6/3/2026 11:27:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game_Details_Dim](
	[Game_Name] [nvarchar](50) NOT NULL,
	[Steam_App_ID] [int] NOT NULL,
	[Genre] [nvarchar](50) NOT NULL,
	[Developer] [nvarchar](50) NOT NULL,
	[Release_Date] [nvarchar](50) NOT NULL,
	[Current_Price] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player_Count_Trend]    Script Date: 6/3/2026 11:27:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player_Count_Trend](
	[Game_Name] [nvarchar](50) NOT NULL,
	[Month_Year] [nvarchar](50) NOT NULL,
	[Avg_Players] [float] NOT NULL,
	[Gain_Loss_Percent] [float] NOT NULL,
	[Peak_Players] [float] NOT NULL
) ON [PRIMARY]
GO
